name: build-push-deploy
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci && npm run build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: docker.io/harissa8/sysinfo-api:${{ github.sha }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to ACI
        run: |
          az container delete -g rg-sysinfo -n sysinfo-api -y || true
          az container create -g rg-sysinfo -n sysinfo-api -l spaincentral \
            --image docker.io/harissa8/sysinfo-api:${{ github.sha }} \
            --ports 8000 --dns-name-label sysinfo-api \
            --environment-variables PORT=8000
